<div>
  <h2>Task Tracker - v1.0</h2>
  <h4>About Us</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ut
    architecto. Possimus, corporis enim. Veritatis, molestiae numquam
    perferendis earum atque ipsam minima inventore cupiditate suscipit rem
    aspernatur, aperiam deserunt. Dicta. Recusandae voluptatibus modi, soluta
    nam adipisci cupiditate eius quam neque! Aut eligendi cupiditate officiis
    veritatis vero molestias neque dolorem, recusandae numquam non minima quasi
    beatae ex dolor optio mollitia assumenda. Mollitia illum quas eveniet ut
    officia minus doloribus autem in sunt alias accusamus, tempore debitis,
    delectus maiores quaerat.
  </p>
  <a routerLink="/">Go Back</a>
</div>
